@import "tailwindcss";

:root {
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --color:#ec0f0f ;
}

*{
  font-family: 'inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* apply to whole page */
html, body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


body {
  font-family: var(--font-sans);
}

code, pre {
  font-family: var(--font-mono);
}



